{% extends 'base.html.twig' %}

{% block title %}Beneficiaire index{% endblock %}

{% block body %}
    <h1>Beneficiaire index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nomben</th>
                <th>Telben</th>
                <th>Cni</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for beneficiaire in beneficiaires %}
            <tr>
                <td>{{ beneficiaire.id }}</td>
                <td>{{ beneficiaire.nomben }}</td>
                <td>{{ beneficiaire.telben }}</td>
                <td>{{ beneficiaire.cni }}</td>
                <td>
                    <a href="{{ path('beneficiaire_show', {'id': beneficiaire.id}) }}">show</a>
                    <a href="{{ path('beneficiaire_edit', {'id': beneficiaire.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('beneficiaire_new') }}">Create new</a>
{% endblock %}
