{% extends 'base.html.twig' %}

{% block title %}Expediteur{% endblock %}

{% block body %}
    <h1>Expediteur</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ expediteur.id }}</td>
            </tr>
            <tr>
                <th>Nomexp</th>
                <td>{{ expediteur.nomexp }}</td>
            </tr>
            <tr>
                <th>Prenomexp</th>
                <td>{{ expediteur.prenomexp }}</td>
            </tr>
            <tr>
                <th>Telexp</th>
                <td>{{ expediteur.telexp }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('expediteur_index') }}">back to list</a>

    <a href="{{ path('expediteur_edit', {'id': expediteur.id}) }}">edit</a>

    {{ include('expediteur/_delete_form.html.twig') }}
{% endblock %}
