{% extends 'base.html.twig' %}

{% block title %}Transactions index{% endblock %}

{% block body %}
    <h1>Transactions index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Code</th>
                <th>Montant</th>
                <th>Comenvoi</th>
                <th>Comretrait</th>
                <th>Cometat</th>
                <th>Comsystem</th>
                <th>Frais</th>
                <th>Type</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for transaction in transactions %}
            <tr>
                <td>{{ transaction.id }}</td>
                <td>{{ transaction.code }}</td>
                <td>{{ transaction.montant }}</td>
                <td>{{ transaction.comenvoi }}</td>
                <td>{{ transaction.comretrait }}</td>
                <td>{{ transaction.cometat }}</td>
                <td>{{ transaction.comsystem }}</td>
                <td>{{ transaction.frais }}</td>
                <td>{{ transaction.type }}</td>
                <td>
                    <a href="{{ path('transactions_show', {'id': transaction.id}) }}">show</a>
                    <a href="{{ path('transactions_edit', {'id': transaction.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('transactions_new') }}">Create new</a>
{% endblock %}
