{% extends 'base.html.twig' %}

{% block title %}Transaction{% endblock %}

{% block body %}
    <h1>Transaction</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ transaction.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ transaction.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ transaction.prenom }}</td>
            </tr>
            <tr>
                <th>Telephone</th>
                <td>{{ transaction.telephone }}</td>
            </tr>
            <tr>
                <th>Datetransaction</th>
                <td>{{ transaction.datetransaction ? transaction.datetransaction|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Codetransaction</th>
                <td>{{ transaction.codetransaction }}</td>
            </tr>
            <tr>
                <th>Montant</th>
                <td>{{ transaction.montant }}</td>
            </tr>
            <tr>
                <th>Comenvoi</th>
                <td>{{ transaction.comenvoi }}</td>
            </tr>
            <tr>
                <th>Comretrait</th>
                <td>{{ transaction.comretrait }}</td>
            </tr>
            <tr>
                <th>Cometat</th>
                <td>{{ transaction.cometat }}</td>
            </tr>
            <tr>
                <th>Comsystem</th>
                <td>{{ transaction.comsystem }}</td>
            </tr>
            <tr>
                <th>Frais</th>
                <td>{{ transaction.frais }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ transaction.type }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('transaction_index') }}">back to list</a>

    <a href="{{ path('transaction_edit', {'id': transaction.id}) }}">edit</a>

    {{ include('transaction/_delete_form.html.twig') }}
{% endblock %}
